<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/tocbot.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{!-- Dynamic Style --}}
    <style>
        :root {
            --theme-color: {{@site.accent_color}};
            --header-logo-color: #000;
            --header-bg: #f8f8f8;
            --header-color: #1e2633;
            --heading-color: #1e2633;
            --hero-button: #1e2633;
            --section-padding-lg: 100px 0;
            --section-padding-md: 75px 0;
            --section-padding-sm: 45px 0;
            --body-font: 'Inter', sans-serif;
            --heading-font: 'Inter', sans-serif;
        }
    </style>

    <style>
        .gh-toc > .toc-list {
            position: relative;
            overflow: hidden;
        }

        .toc-list {
            list-style: none;
        }

        .gh-toc .is-active-link::before {
            background-color: var(--ghost-accent-color); /* Defines TOC accent color based on Accent color set in Ghost Admin */
        } 
</style>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

{{#if @custom.dark_layout }}
<body class="{{body_class}} dark-layout"></body>
{{else}}
<body class="{{body_class}} default-layout"></body>
{{/if}}
    {{!-- For dark background you need to change the body class, dark:bg-dark-wrap and normal:bg-white --}}
    <div class="site-content pt-0">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

    </div>

    {{!-- search-popup --}}
    {{> search-popup}}
    
    <a href='#top' id='scroll-top' class='topbutton btn-hide'>{{> svg/angle-up}}</a>

    {{!-- Ajax Load More required variables --}}
    <script>
        var serachContentApi = "{{@site.url}}/ghost/api/v3/content/posts/?key=" + window.contentApiKey + "&limit=all&fields=id,title,excerpt,feature_image,custom_excerpt,url,published_at&formats=plaintext&include=tags";
        
        var pagination_next_page_number       = '{{ pagination.next }}',
            pagination_available_pages_number = '{{ pagination.pages }}';
    </script>

    {{!-- jQuery, required for fitvids --}}
    <script src="{{asset "js/jquery.js"}}"></script>
    <script src="{{asset "js/plugin.js"}}"></script>
    <script src="{{asset "js/imagesloaded.pkgd.min.js"}}"></script>
    <script src="{{asset "js/isotope.pkgd.min.js"}}"></script>
    <script src="{{asset "js/packery-mode.pkgd.min.js"}}"></script>
    <script src="{{asset "js/tocbot.min.js"}}"></script>

    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
    <script src="{{asset "js/main.js"}}"></script>

    {{!-- Scripts for Members subscription --}}
    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');
        var success = getParameterByName('success');
        var layouts = getParameterByName('layout');

        // Apply dark mode
        if( layouts === 'dark' ) {
            document.body.classList.remove("bg-white");
            document.body.classList.add("bg-dark-wrap");

            //document.querySelector('.header-logo-area .site-branding img').src = '/assets/images/dark-logo.png';

        }

        // Show 505 Error Page
        if( layouts === '505' ) {
            document.getElementById("error-505").src = '/assets/images/error-505.png';
        }

        $(document).ready(function () {
            if (action == 'subscribe' && (success === null || success === 'true')) {
                $('body').addClass('subscribe-success');
            }

            if (action == 'subscribe' && success === 'false') {
                $('body').addClass('subscribe-failure');
            }

            $('.subscribe-notification .subscribe-close-button').click(function () {
                $('.subscribe-notification').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-btn').on('click', function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });


            if( layouts = 'dark' ) {
                // document.body.classList.remove("bg-white-smoke");
                // document.body.classList.add("bg-dark-wrap");
            }
        });

        function setCookie(cname, cvalue) {
            const d = new Date();
            d.setTime(d.getTime() + (30 * 24 * 60 * 60 * 1000));
            let expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        
        function getCookie(cname) {
            let name = cname + "=";
            let ca = document.cookie.split(';');
            for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
            }
            return "";
        }

        function delete_cookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}
    

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
