{{!-- post-loop --}}
<div class="col-6 col-sm-4 col-lg-3">
    <article class="{{post_class}} recomaded-posts">
        <figure class="thumb-wrap">
            <a href="{{url}}">
                <img class="post-card-image" src="{{img_url feature_image size="sm"}}" loading="lazy" alt="{{title}}" />
            </a>
        </figure>
        <!--./ thumb-wrap -->
        
        <div class="content-entry-wrap">
            <!--./ entry-category -->
            <h3 class="entry-title">
                <a href="{{url}}">
                    {{title}}
                </a>
            </h3>
        </div>
        <!--./ content-entry-wrap -->
    </article>
</div>
