{{!< no-header-footer}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#if @member.paid}}
    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
{{else if @member}}
    {{!-- Member: Redirect to Subscribe --}}
    <script>window.location = '{{@site.url}}/account/';</script>
{{else}}
    {{#post}}
    <div class="memeber-login-wrapper">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 fxt-bg-color">
                    <div class="from-wrapper">
                        <div class="branding-block">
                            {{> branding }} {{!--Site Branding branding.hbs partial to generate branding content --}}
                        </div>

                        {{!-- The main content area --}}
                        <div class="member-form">
                            <h1 class="global-title-sm mb-4">{{t "Welcome back!"}}</h1>
                            <form data-members-form="signin">
                                <div class="single-input">
                                    <input data-members-email class="form-control" type="email" required placeholder="{{t "Email address"}}">
                                    <div class="message-text">
                                        <div class="message-success">
                                            {{{t "Please check your inbox and click the link to confirm your subscription."}}}
                                        </div>
                                        <div class="message-error">
                                            {{t "Somethings went wrong. Please try again later!"}}
                                        </div>
                                    </div>
                                    <div class="align-items-center">
                                        <button class="button" type="submit" class="btn btn-sign">
                                            <span class="button-text">{{t "Send login link"}}</span>
                                            <span class="button-loader">{{t "Loading..."}}</span>
                                        </button>
                                    </div>
                                </div>
                                <p class="mt-4 account-links">{{t "Don't have an account yet?"}}<a href="{{@site.url}}/signup/">{{t "Sign up"}}</a></p>
                            </form>

                            {{> component/social }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    {{#if feature_image}}
                    <div class="fxt-bg-img" style="background-image: url({{img_url feature_image size="m"}});"></div>
                    {{else}}
                    <div class="fxt-bg-img" style="background-image: url({{@site.cover_image}});"></div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/post}}
{{/if}}